.footer{
    position: fixed;
    left:0;
    botoom:0;
    width: 100%;
    background-color: #c69500;
    color: white;
    text-align: center;
    padding:10px;
    font-size: 0.5rem;
}

head{


}
